@import url(https://fonts.googleapis.com/css?family=Lato);

$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

// can add Boostrap overrides, additional Sass/CSS below...
.main {
  h1, textarea { margin: 20px 0px; }
  button { margin: 0 5px; }
  a { margin-left: 10px; }
  textarea { padding: 10px; }
  .status { font-size: 16px; }
  .inputs { margin-top: 20px; }
  .text-ok { color: #acacac; }
}

@media (max-width: 768px) {
  textarea { width: 300px; height: 150px; }
}
